* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $ui-bg;
	color: $ui-text;
	font-family: $ff;
}

p {
	margin: 0 0 1rem;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

code {
	font-family: $space;
}

// Layout
.app-container {
	width: 900px;
	padding: 3%;
	margin: 0 auto;

	.main-content {
		border: $outline-style-heavy;
		padding: 1rem;
		margin-bottom: 3rem;
		border-radius: $corner-radius-wide;
	}
}
