.code-editor-wrapper {
	.code-editor-window-ui {
		@include center;
		overflow: hidden;

		.code-editor-container {
			@include center;
			position: relative;
			padding: 4rem;

			.code-editor {
				display: inline-block;
				min-width: 90px;
				max-width: 1024px;
				margin: auto;
				overflow: hidden;
				box-shadow: 0 5px 50px -5px rgba(0, 0, 0, 0.5);
			}

			.language-tag {
				position: absolute;
				top: 0.75rem;
				right: 1rem;
				font-family: monospace;
				font-size: 0.8rem;
				border-radius: $corner-radius;
				color: $white;
				background: rgba(0, 0, 0, 0.5);
				padding: 0.3rem 0.5rem;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
			}
		}
	}

	.CodeMirror.CodeMirror-wrap {
		width: 100%;
		height: 100%;
		padding: 2rem 0 1rem;
		padding-right: 1rem;
		position: relative;
		border-radius: $corner-radius;

		&::before {
			content: url("../images/window-options.svg");
			font-size: 2rem;
			position: absolute;
			width: 3.5rem;
			top: 1.25rem;
			left: 1rem;
			transform: translateY(-50%);
		}
	}

	.CodeMirror-code > *,
	.CodeMirror-code > * > * {
		line-height: 1.25rem;
		font-size: 0.9rem;
	}

	.line-numbers-hidden {
		.CodeMirror-code,
		.CodeMirror-cursor {
			margin-left: 11px;
		}
	}
}
