.footer {
	@include center;
	flex-direction: column;

	&__footer-links {
		display: flex;
		margin-bottom: 1rem;

		.footer-link {
			margin-right: 2rem;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.byline {
		font-family: $ff-light;
		color: $gray;

		.credit {
			color: $ca-yellow;
		}
	}
}
