.hero {
	@include center;
	flex-direction: column;
	margin-bottom: 3rem;

	&__page-title {
		.logo {
			display: block;
			width: 500px;
			margin-bottom: 1.5rem;

			svg {
				width: 100%;
			}
		}

		.hidden {
			display: none;
		}
	}

	&__intro {
		font-size: 1.5rem;
		line-height: 1.2;
		margin-bottom: 0.5rem;
		text-align: center;
		letter-spacing: 0.5px;
	}
}

@include md {
	.hero {
		margin-bottom: 1.5rem;

		&__page-title .logo {
			width: 350px;
			margin-bottom: 1rem;

			svg path {
				stroke-width: 2;
			}
		}

		&__intro {
			font-size: 1.25rem;
		}
	}
}

@include sm {
	.hero {
		&__page-title .logo {
			width: 100%;
		}

		&__intro {
			font-size: 1rem;
		}
	}
}
