.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	z-index: 20;

	.row {
		display: flex;

		& > * {
			margin-right: 1rem;
		}

		& > :last-child {
			margin-right: 0;
		}

		&.dropdowns {
			flex-grow: 1;
			margin-right: 1rem;
		}

		&.export-options {
			@include center;

			.style-options {
				@include center;

				& > :not(:last-child) {
					margin-right: 1rem;

					@include sm {
						margin-right: 0.5rem;
					}
				}
			}
		}
	}
}

@include md {
	.toolbar {
		flex-direction: column;

		.row.dropdowns {
			margin-bottom: 1rem;
			margin-right: 0;
			width: 100%;
		}

		.row.export-options {
			justify-content: space-between;
			width: 100%;
		}
	}
}

@include sm {
	.row.dropdowns {
		display: flex;
		flex-direction: column;

		& > :first-child {
			margin-bottom: 1rem;
			margin-right: 0;
		}
	}

	.btn.export {
		padding: 1rem;
	}
}
