:root {
	--inner-padding: 1.5rem;
	--pill-radius: 3rem;
}

$white: #fff;
$ui-bg: #160b3d;
$ui-text: $white;

$ca-purple: #3210ad;
$ca-yellow: #ffcd31;
$ca-green: #91d916;
$ca-pink: #cd0cc7;

$gray: #888;

$corner-radius: 0.25rem;
$corner-radius-wide: 0.5rem;
$outline-style-light: 1px solid $white;
$outline-style-heavy: 3px solid $white;
$list-item-padding: 0.5rem;
