:root {
	--inner-padding: 1.5rem;
	--pill-radius: 3rem;
}

$ui-bg: #160b3d;
$ui-text: #fff;

$ca-purple: #3210ad;
$ca-yellow: #ffcd31;
$ca-green: #91d916;
$ca-pink: #cd0cc7;

$corner-radius: 0.25rem;
